@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get To Know Joel</h1>

<br />

<div>
    <h3>Quick Wits Comedy</h3>
    <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
    <br />
    <br />
    <h3>Bacon Sale</h3>
    <a href="https://baconsale.com/" target="_blank">Bacon Sale</a>
    <br />
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/baconsalekate.jpg" style="width: 200px; height: auto;"/>
    </a>
</div>